@model Textospeach.Models.TextModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TextToSpeech Pro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/Content/asset/style.css" rel="stylesheet" />
    <link rel="icon" href="~/Content/asset/favicon.ico" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="nav-content d-flex justify-content-between align-items-center">
                <a class="navbar-brand" href="@Url.Action("Index","TextToSpeach")">TextToSpeech Pro</a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item mx-3">
                            <a class="nav-link" href="@Url.Action("Index","TextToSpeach")">Home</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link" href="@Url.Action("About","TextToSpeach")">About</a>
                        </li>

                    </ul>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </nav>

    <div class="container py-1">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="main-content bg-transparent p-4 text-white rounded shadow">
                    <h1 class="text-center mb-4">TextToSpeech Pro</h1>
                    <p class="text-center mb-4">Convert text to natural-sounding speech instantly. Experience the power of speech synthesis with our cutting-edge text-to-speech application.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="upper-lower-div fixed-bottom bg-dark bg-opacity-50 text-white p-3">
        @Html.TextAreaFor(model => model.Text, new { @class = "form-control bg-dark text-white border-dark mb-4", id = "text", rows = "3" })

        @*        <textarea class="form-control bg-dark text-white border-dark mb-4" rows="3"></textarea>
        *@        <div class="mt-2 d-flex justify-content-center ">
    <a href="#" class="btn btn-dark text-white me-5" id="textReset"><i class="fas fa-refresh"></i> Reset</a>
    <a href="#" class="btn btn-dark text-white me-5" id="speakBtn"><i class="fas fa-play"></i> Play</a>
    <a href="#" class="btn btn-dark text-white" id="pauseBtn"><i class="fas fa-pause"></i> Pause</a>
</div>

    </div>

    <script>
    $(document).ready(function () {
        $("#speakBtn").click(function () {
        var text = $("#text").val();
        $.ajax({
            type: "POST",
            url: "@Url.Action("Speak", "TextToSpeach")",
            data: { text: text },
            success: function (response) {
                if (response.success) {

                } else {
                    alert("An error occurred: " + response.error);
                }
            },
            error: function () {
                alert("An error occurred while trying to speak the text.");
            }
            });
        });
    });

    $(document).ready(function() {
        $("#pauseBtn").click(function() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("Pause", "TextToSpeach")",
            success: function (response) {
                if (response.success) {

                } else {
                    alert("An error occurred: " + response.error);
                }
            },
            error: function () {
                alert("An error occurred while trying to pause the speech.");
            }
            });
        });
    });
    $(document).ready(function () {
        //Clear TextArea
        $("#textReset").click(function () {
            $("#text").val(""); // Set the value of the textbox to empty string
            $.ajax({
                type: "POST",
                url: "@Url.Action("Reset", "TextToSpeach")",
                success: function (response) {
                    if (response.success) {

                    } else {
                        alert("An error occurred: " + response.error);
                    }
                },
                error: function () {
                    alert("An error occurred while trying to reset the text.");
                }
                });
            });
        });


    </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>

